@font-face {
	font-family: 'sukhumvit_setthin';
	src: url('../fonts/sukhumvitset-thin-webfont.eot');
	src: url('../fonts/sukhumvitset-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sukhumvitset-thin-webfont.woff') format('woff'),
		 url('../fonts/sukhumvitset-thin-webfont.ttf') format('truetype'),
		 url('../fonts/sukhumvitset-thin-webfont.svg#sukhumvit_setthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_setmedium';
	src: url('../fonts/sukhumvitset-medium-webfont.eot');
	src: url('../fonts/sukhumvitset-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sukhumvitset-medium-webfont.woff') format('woff'),
		 url('../fonts/sukhumvitset-medium-webfont.ttf') format('truetype'),
		 url('../fonts/sukhumvitset-medium-webfont.svg#sukhumvit_setmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_settext';
	src: url('../fonts/sukhumvitset-text-webfont.eot');
	src: url('../fonts/sukhumvitset-text-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sukhumvitset-text-webfont.woff') format('woff'),
		 url('../fonts/sukhumvitset-text-webfont.ttf') format('truetype'),
		 url('../fonts/sukhumvitset-text-webfont.svg#sukhumvit_settext') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sukhumvit_setbold';
	src: url('../fonts/sukhumvitset-bold-webfont.eot');
	src: url('../fonts/sukhumvitset-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sukhumvitset-bold-webfont.woff') format('woff'),
		 url('../fonts/sukhumvitset-bold-webfont.ttf') format('truetype'),
		 url('../fonts/sukhumvitset-bold-webfont.svg#sukhumvit_setbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 70px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'sukhumvit_setmedium';
	font-weight: normal;
	line-height: 150%;
}

p, a, span, td {
	font-family: 'sukhumvit_setmedium';
}

strong, b, th {
	font-family: 'sukhumvit_setbold';
	font-weight: normal;
}

label {
	font-family: 'sukhumvit_setmedium';
	font-weight: normal;
}

input {
	font-family: 'sukhumvit_settext';
	font-weight: normal;
}

.row {
	margin-bottom: 10px;
}

.label {
	font-weight:normal !important;
}

.table td {
	border-top: 0px !important;
}

.page-header {
	margin-top: 0px;
}

.btn {
	font-family: 'sukhumvit_setmedium';
	font-weight: normal;
}

.product-list-item h3, .product-list-item h4, .grid-list-item h3, .grid-list-item h4 {
	margin: 5px 0px 10px 0px;
}

.grid-list-item {
	color: rgb(51, 51, 51);
}

.grid-list-item:hover {
	color: rgb(51, 51, 51);
	text-decoration: none;
}